@charset "UTF-8";

/* CSS Geral Mobile First */ 

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@media screen and (max-width: 768px) { 

    /*Estilo segue igual as imagens visuais*/
    
    * {

        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        margin: 0px;
        padding: 0px;
        
        box-sizing: border-box;       
    }


    body, html {
        height: 100vh;
        width: 100vw;    
    }
    
       
    main > h1 {
        text-align: left;              
    }

    section#logofast {    /* Cabeçalho */
        height: 88vh;
        width: 100vw; 
        background: url(imagemfundo.jpg) right;
        
                
    }

    #idlogocred { /* Configuração logo inicial */
        margin-top: 10px;
        padding: 15px;
         
        width: 150px;
        height: 100px; 
    }


    .h2antecipa { /* Botões azuis inicio site */

        width: 50vw;
        height: 150px;
        
        background-color: rgb(0, 0, 255);
        color: #fafafa;

        border-radius: 10px;

        font-family: 'Comfortaa', cursive;
        font-size: 2em;

        position: relative;

        left: 47%;
        padding: 5px;  
        margin: 10px; 
    }

    #h2antecipaid { /*  ajuste do primeiro balões a esquerda */
        left: 5%;
        padding: 15px;
        
        
    }

    #idparcela {
        display: none;
    }


     #idnegativa { /* Frase de baixo dos balões */
        color: blue;
        
        padding: 10px;
        position: relative;
        font-size: 1.5em;
        
        margin: 5px;
        height: 25vh;
        border-radius: 10px;
        display: block;
        
     }
  
     a#contrate { /* Botão contrate */
       
        width: 90vw;
        height: 7vh;

        
        margin-left: 7px;

        
        padding: 3px;

        text-align: center;
        font-size: 1.5em;
        font-weight: bold;

        color: rgb(255, 255, 255);
        background-color: blue;
        
        
        text-decoration: none;
        border-radius: 5px;           
     }

     a#contrate:hover {
        color: rgb(214, 214, 214);
     }


    section {
        position: absolute;
    
    }

    #imageninicial { /* Imagem mulher com porquinho */
        width: 100vw;
        height: 410px;

        padding-top: 35px;
        background-color: white;
  
        }

    

    section#logofast > div#form { /* Div do formulário */
        width: 92vw;
        height: 570px;

        background-color:#EF6C00;
       
        border-radius: 5px;
        position: relative;
        top: 30%;
        left: 50%;

        transform: translate(-50%, -50%);
        overflow: hidden;
        display: block;         
    }

    a.aform { /* Representa o h1 do formulário, cursor auto  porque tem um link */
        text-decoration: none;
        display: block;
        cursor: auto;
    }
   

   form#idformulario { /* Padding do formulário */
    padding: 20px;
    }

    h1#h1formulario { 
        color: rgb(255, 255, 255);
        text-align: center;
        
    }

    input.campodados {   /* preenchimento dentro do formulario */
        width: 82vw;
        height: 45px;

        padding-top: 5px;
        margin: 5px;
        padding: 10px;

        border-radius: 5px;
        border: 1px solid blue;
        
        font-weight: bolder;

        background-color: rgb(255, 255, 255);

        display: block;    
    }

    input#camponome { /* Campo do nome */
        text-transform: capitalize;

    }

    input.campodados:hover {
        background-color: rgb(255, 255, 255);
        
    }

    .fdados {
        margin-left: 10px;
        color: rgb(255, 255, 255);
        font-weight: bolder;
        
    }

    input#botaoenviar {
        width: 82vw;
        height: 40px;

        padding-top: 5px;
        padding: 5px;     
        margin: 10px;

        background-color: blue;
        color: rgb(255, 255, 255);

        font-weight: bolder;
        font-size: 1.3em;

        border-radius: 5px;
        border: none;
    }

    input#botaoenviar:hover {
        background-color: rgb(0, 0, 204);
        color: rgb(218, 218, 218);
        cursor: pointer;
    }

       

        select#idbotsaldo:hover {
            background-color: white;
            
        }

       
        input#cpsaldo {         /* Campo do saldo */ 
            height: 40px;

            position: relative;
            left: 50%;
            transform: translate(-50%, -50%);

            margin-top: 25px;
            border-radius: 10px;
            border: none;
         
            text-align: center;
            font-weight: bolder;   
                    
        }

        label#botsaldo {
            color: rgb(255, 255, 255);
            font-weight: bolder;
            text-align: center;
        }
   
        section#baixo {
            width: 100vw;
            height: 950px;
                    
            color: rgb(255, 255, 255);
            background: rgb(243, 243, 243);
            font-weight: bold;
                           
            margin-top: 5px;
            margin-bottom: 5px;
            
            display: block;   
        }
    
        section#baixo > div#perguntas h1.perguntas { /* Campo de dúvidas frequentes */
            text-align: left;
            padding: 10px;
            margin-left: 15px;
            margin-top: 15px;
            font-weight: bolder;
            
            color: black;
        }

       
    
        p.pperguntas {  /* paragrafo das perguntas */
            margin-left: 23px;
            margin-right: 23px;
            padding-bottom: 20px;
            background-color: rgb(2, 2, 2);
            padding: 10px;
            border-radius: 10px;
            
            
        }

        section#laranja { /* Section do frame celular */
            width: 100vw;
            height: 120vh;

            color: black;
            background: url(imagemfundo.jpg) top;  
        }

     

        h1.passoapasso { /* H1 do frase celular */
            margin-left: 10px;
            padding-left: 20px;
            margin-top: 10px;

            font-size: 1.5em;
            text-align: left;
            border-radius: 10px;

            color: blue;  
        }
     

        #final { /* Footer */
            width: 100vw;
            height: 100px;

            padding: 10px;
            margin-top: 678px;
        
            text-align: justify;
            font-weight: 400;
            font-size: small;

            background-color: rgb(255, 255, 255);
            color: rgb(112, 112, 112);
            display: block;   
        }

        .fotpara {
            font-weight: 700;

        }
        #logofot { 
            width: 70px;
            height: 50px;
            left: 40%;
            bottom: 8%;
           
        }

        #logofastfot { /* Botões logo tipo */
            width: 80px;
            height: 50px;

            
            left: 45%;
            bottom: 8%;

            background-color: rgb(255, 255, 255); 
        }

        #whatsapp {
            position: fixed;
            z-index: auto;
            bottom: 30px;
            right: 18px;
            width: 70px;
            height: 50px;
        }
          
}